
.navbar-nav > li{
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  padding: 10px; 

}

.row {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 700;
  padding-left: 151px; 
  display: flex;

}

.row > { 
  font-family: 'Syncopate';
}
/* 
.navbar-nav > li:hover {
  background-color: rgba(254, 4, 4, 0.5);
  border-radius: 10px;
  border: 1px solid #ffffff;
   
 
}

 */


.btn:hover {
  background-color: #d21d1d;
}
 

.btn-1 {
  margin-top: 103px; 
}
.nav-link > i {
  font-size: 22px;

}



/* 

body {
    background: #111111;
    color: #D8D8D8;
    font-family: 'Syncopate', sans-serif;
    margin: 0;
  }

  .header {
    height: 1px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    padding: 56px 250px; 
    align-items: center;
    top: 0;
    
  }
  
  .header_section {
    display: flex; 
    align-items: center;

  }

  .header_item {
    font-size: 16px; 
    margin-left: 40px; 
  }

.icon_header {
    font-size: 22px; 
}

a {
    text-decoration: none;
    color: #D8D8D8;
}

  
 a:hover {
    background-color: #dfdfe2;
    color: #1b1b32;
    cursor: pointer;
    border-radius: 3px;;
    padding: 5px 0;
  }
  

 */

